.vscode
.tasks
__pycache__
node_modules
dist
build
*.tsbuildinfo
*.egg-info
*.whl
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.venv
*.venv-test*
.DS_Store
nanobot
uv.lock
web/tsconfig.tsbuildinfo
dev-dist

# PyPI 配置（包含敏感信息）
.pypirc
web/tsconfig.tsbuildinfo
